@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 1.2px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

svg {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
